POLYGON_API_KEY=your_polygon_api_key_here
MATH_TICKER_DECIMALS=3
TICKER_LIMIT=20000
TIMESPAN_DAYS=14
CANDLE_INTERVAL=1
CANDLE_UNIT=hour
BATCH_SIZE=1000
MAX_WORKERS=12
TARGET_MAX_STOCKS=10
SHOW_CHARTS=true
INCLUDE_EXTENDED_HOURS=true
ACCEPTED_EXCHANGES=NASDAQ,NYSE
ALLOW_TRENDING_RANGES=true
MAX_TRENDING_CHANGE=0.30
MIN_CHANNEL_TIGHTNESS=0.15
DATA_DIR=.
VERBOSE=false